PORT=3001
BOT_API_TOKEN=troque-este-token-grande
ADMIN_PIN=1234
SESSION_DIR=./auth/pits-dog
PUBLIC_BOT_NAME=Pits Dog
WHATSAPP_COUNTRY_CODE=55
MESSAGE_INTERVAL_MS=1200
STORE_PHONE=5591999999999
ADMIN_ORIGIN=http://localhost:5175
KEEP_ALIVE_INTERVAL_MS=300000
